body {
  margin: 0;
  height: 100%;
  background-color: #282c34;
}

select {
  width: 11rem;
}

footer {
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  
}

.Sidebar {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-left: 2rem;
}

.Sidebar_Button {
  margin: 0.3rem;
  height: 3rem;
  width: 6rem;
}

.Submit_Button {
  margin-top: 2rem;
  display: flex;
  align-content: space-between;
}

.Start_Button {
  background-color: green;
}

.Stop_Button { 
  background-color: red;
}
 
.Restart_Button {
  background-color: yellow;
}

.Setting_Screen {
  color: white;
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2.5rem 0;
  text-align: left;
}

.Active_Button {
  background-color: #282c34;
  color: white;
}

.Setting_Screen_Item {
  margin-left: 1rem;
  
}

.Output_Screen {
  display: flex;
  flex-direction: row;
}

.Protocol_Form, .Protocol_Options {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
